<div ng-include="headerFile"> </div>


<div class="panel panel-default">
  <div class="panel-body">
    <form action="" ng-show="isshow" >
      <div class="form-group">
        <label for="linkman">
          <b>联系人：</b>
        </label>
        <input ng-model="order.user_name" type="text" id="linkman" class="form-control" >
      </div>
      <div class="form-group">
        <label>
          <p><b>性别：</b></p>
          <input type="radio" name="gender" value=1 ng-model="order.sex">先生
          <input type="radio" name="gender" value=2 ng-model="order.sex">女士
        </label>
      </div>
      <div class="form-group">
        <label for="phone">
          <b>联系电话：</b>
        </label>
        <input type="tel" id="phone" class="form-control" ng-model="order.phone">
      </div>
      <div class="form-group">
        <label for="phone">
          <b>送餐地址：</b>
        </label>
        <textarea ng-model="order.addr" class="form-control" id="address" name="address" rows="6"></textarea>
      </div>
      <button type="button" class="btn btn-success btn-block" ng-click="show()">确定下单</button>
    </form>
    <div ng-if="!isshow">
      <div class="alert alert-success">
        <b>
          订单成功！您的订单编号为：<span>{{num}}</span>。您可以在用户中心查看订单状态。
        </b>
      </div>
    </div>
  </div>
</div>

<br/><br/><br/><br/><br/>





<div ng-include="footerFile"> </div>